<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<!-- Kyle Orman- Added the various action button elements -->
		<div class="mainMenuButtonsWrapper">
			<button id="startTransaction" type="button" class="action">Start Transaction</button>
			<br/>
			<button id="viewProducts" type="button" class="action">View Products</button>
			<br/><br/>
			<table id="mainMenu">
				<tbody>
					<div th:class="not ${isElevatedUser} ? hidden : ''">
						<tr>
						<td><button id="createEmployee" type="button" class="action">Create Employee</button></td>
						<td><button id="salesReport" type="button" class="action">Sales Report</button></td>
						<td><button id="cashierReport" type="button" class="action">Cashier Report</button></td>
						</tr>
					</div>
				</tbody>
			</table>
		</div>

	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<!-- Need to add click functionality (Click event handlers defined in task 7)-->
	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html>
