<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Welcome!</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<form action="/" method="POST" onsubmit="return validateForm();" class="inputContent" name="login">
			<label for="employeeId">Employee ID:</label>
			<div>
				<input type="number" id="employeeId" name="employeeId" class="update" th:value="${employeeId}"> <!--required th:value="${employeeId.employeeId}">-->
			</div>
			<label for="password">Password:</label>
			<div>
				<input type="password" id="password" name="password" class="update" > <br><!--required th:value="${employeeId.password">-->
			</div>
			<div>
				<input type="submit" id="sumbit" value="Sign In"> <!--href="/mainMenu/" class="button">--> 
			</div>
		</form>
		<script>
			//Function that validates the entered values
			function validateForm() {

			  // Checks to make sure the ID is numeric and nonmepty and displays an alert if it is not
			  var idNum = document.forms["login"]["employeeId"].value;
			  if (idNum == "")  {
				 alert("ID cannot be blank");
				 //return false;
		      }
		  
			  // Checks to make sure the password is not empty and displays an alert if it is 
			  var passW = document.forms["login"]["password"].value;
			  if  (passW == "") {
				 alert("Password cannot be empty");
				 //return false;
			   }
			   //return false;
			}
			</script>

	</div>
		
</body>

</html>